= form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= pluralize(@item.errors.count, "error")
      prohibited this item from being saved:
      
      %ul
        - @item.errors.full_messages.each do |msg|
          = msg
          
  = f.hidden_field :parent_id
  = f.hidden_field :user_id
    
  .field
    = f.label :content
    %br
    = f.text_field :content

  .actions= f.submit
