%h1 Listing items

%table
  %tr
    %th ID
    %th User
    %th Content
    %th Checked
    %th Order
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.id
      %td= item.user_id
      %td= item.content
      %td= item.checked
      %td= item.order
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Item', new_item_path
